:root {
    --background: #E5E5E5;
    --text: #161617;
    --text2: #8C8C8C;
    --accent1: #347A7C;
    --accent2: #4DE1BE;
    --boxblur: #000000;
    --input: #ffffff;
    --border: #cccccc;
    --dropdown: #f0f0f0;
    --tableodd: #ffffff;
    --tableeven: #f2f2f2;
    --tablehover: #dddddd;
}

.dark-mode {
    --background: #161617;
    --text: #E5E5E5;
    --text2: #8C8C8C;
    --accent1: #AB3944;
    --accent2: #4C191F;
    --input: #1E1E1E;
    --border: #444444;
    --dropdown: #1D1D1D;
    --tableodd: #1E1E1E;
    --tableeven: #2A2A2A;
    --tablehover: #333333;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 120px;
    flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
u,
i,
a,
button,
input,
label,
textarea,
span,
table,
th,
td,
tr,
body {
    font-family: "Kumbh Sans", Arial, Verdana, Tahoma;
    color: var(--text);
}

.center {
    text-align: center;
}

button {
    background-color: var(--accent2);
    box-shadow: 0 4px var(--accent1);
    font-size: 16px;
    font-weight: bold;
    height: 58px;
    border: none;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    cursor: pointer;
}

.dark-mode button {
    background-color: var(--accent1) !important;
    box-shadow: 0 4px var(--accent2) !important;
}

button:hover {
    filter: brightness(0.9);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #1E1E1E;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    background-color: #E5E5E5;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked+.slider {
    background-color: var(--accent1);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--accent1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.prihlaseni,
.registrace {
    width: 350px;
    height: fit-content;
    text-align: center;
    margin: auto;
    padding: 100px 70px 100px 70px;
    background-color: var(--background);
    box-shadow: 0 0px 15px 1px var(--boxblur);
    border-radius: 12px;

    .input-container {
        position: relative;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 2px;
    }

    .input-container .icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        pointer-events: none;
        color: var(--accent1);
        fill: currentColor;
    }

    .input-container input {
        width: 100%;
        padding: 12px 20px 12px 45px;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
        font-size: 16px;
    }

    .input-container input:focus {
        outline: 3px solid var(--accent1);
    }

    label,
    a,
    p {
        float: left;
        margin-left: 12px;
    }

    label {
        margin-top: 20px;
    }

    h1 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    button {
        background-color: var(--accent2);
        box-shadow: 0 4px var(--accent1);
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        height: 58px;
        border: none;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        margin: 45px 0 35px 0;
        cursor: pointer;
        padding: 0;
    }

    .dark-mode button {
        background-color: var(--accent1) !important;
        box-shadow: 0 4px var(--accent2) !important;
    }

    button:hover {
        filter: brightness(0.9);
    }
}

.uploadimage{
    width: 1200px;
    height: 800px;
    margin: auto;
    background-color: var(--background);
    box-shadow: 0 0px 15px 1px var(--boxblur);
    border-radius: 12px;

    .formular {
        height: fit-content;
        float: right;
        width: 350px;
        text-align: center;
        padding: 50px 70px 100px 70px;
        overflow: hidden;
    }

    textarea {
        width: 100%;
        height: 185px;
        padding: 12px;
        margin-top: 20px;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
        font-size: 16px;
        resize: none;
    }    
    
    .image {
        width: 650px;
        display: block;
        float: left;
        margin: 25px 0 0 50px;
    }

    #imgInp {
        background-color: transparent !important;
        border: none !important;
        box-sizing: unset !important;
    }

    #remainingChars {
        float: right;
        color: var(--text2);
    }

    img {
        width: 100%;
        height: 650px;
        object-fit: contain;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
    }
}

.upload{
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: var(--background);
    box-shadow: 0 0px 15px 1px var(--boxblur);
    border-radius: 12px;
    padding: 50px 20px 20px 20px;
    text-align: center;

    h2{
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    a{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 175px;
        height: 205px;
        margin: 40px;
        background-color: var(--background);
        box-shadow: 0 0px 10px var(--boxblur);
        border-radius: 12px;
    }
    a p{
        margin-bottom: 10px;
        height: 20px;
    }
    a:hover{
        background-color: var(--accent2);
        box-shadow: 0 0px 15px var(--boxblur);
    }
    svg{
        width: 175px;
        height: 175px;
        fill: var(--accent1);
    }
}

.uploadtext{
    width: 590px;
    height: 800px;
    margin: auto;
    background-color: var(--background);
    box-shadow: 0 0px 15px 1px var(--boxblur);
    border-radius: 12px;

    .formular {
        height: fit-content;
        float: right;
        width: 450px;
        text-align: center;
        padding: 50px 70px 100px 70px;
        overflow: hidden;
    }

    textarea {
        width: 100%;
        height: 331px;
        padding: 12px;
        margin-top: 20px;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
        font-size: 16px;
        resize: none;
    }

    #remainingChars {
        color: var(--text2);
        user-select: none;
    }
}

.uploadimage, .uploadtext {
    input {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
        font-size: 16px;
    }

    input:focus,
    textarea:focus {
        outline: 3px solid var(--accent1) !important;
    }


    p {
        margin-top: 3px;
    }

    label,
    a,
    p {
        float: left;
        margin-left: 12px;
    }

    label {
        margin-top: 20px;
    }

    button {
        background-color: var(--accent2);
        box-shadow: 0 4px var(--accent1);
        font-size: 24px;
        font-weight: bold;
        width: 100%;
        height: 58px;
        border: none;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        margin: 45px 0 35px 0;
        cursor: pointer;
        padding: 0;
    }

    .dark-mode button {
        background-color: var(--accent1) !important;
        box-shadow: 0 4px var(--accent2) !important;
    }

    button:hover {
        filter: brightness(0.9);
    }

    input[type="file"] {
        display: none;
    }

    .custom-file-upload {
        background-color: var(--accent1);
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 7px;
        padding: 10px 15px 10px 15px;
        margin: 5px;
        cursor: pointer;
    }
}

.feed {
    .container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding: 15px;
        margin-bottom: 20px;
    }

    .squiggle {
        color: var(--accent1);
        fill: transparent;
        stroke: currentColor;
        display: block;
        width: 199px;
        height: 7px;
        margin: 55px auto 25px auto;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 40px 7px 7px;
    }

    .top img {
        width: 37px;
        height: 37px;
        border-radius: 9999px;
        margin-right: 12px;
    }

    iframe {
        width: 100%;
        height: 294px;
    }

    .top a {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        padding: calc(37px / 2 - 14px / 2) 0;
    }

    .top .right {
        display: inline-block;
        font-size: 14px;
        color: var(--text2);
        margin-left: auto;
    }

    .post img {
        width: 100%;
        max-height: 712px;
        object-fit: contain;
        margin-bottom: 15px;
    }

    pre a {
        color: var(--accent1) !important;
    }

    pre a:hover {
        text-decoration: underline !important;
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 15px;
    }

    .buttons .right {
        margin-left: auto;
    }

    .buttons svg {
        width: 37px;
        height: 37px;
        fill: currentColor;
        stroke: transparent;
        color: var(--accent1);
        
    }

    .buttons span {
        font-size: 14px;
        color: var(--text);
    }

    .location {
        display: flex;
        align-items: center;
        margin-left: 3px;
        margin-top: 5px;
    }

    .location svg{
        width: 20px !important;
        height: 20px !important;
        fill: currentColor;
        stroke: transparent;
        color: var(--text2) !important;
    }

    .location span{
        font-size: 14px !important;
        color: var(--text2) !important;
        margin-bottom: unset !important;
    }

    .bot {
        line-height: 1.4;
        margin-left: 7px;
    }

    .bot span {
        margin-bottom: 7px;
        font-size: 16px;
        color: var(--text);
    }

    .bot a {
        font-size: 16px;
        color: var(--text2);
        text-decoration: none;
    }

    .bot a:hover {
        text-decoration: underline;
    }

    .description {
        word-wrap: break-word;
        width: 100%;
    }

    .dropdown {
        transform: unset !important;
        margin-left: auto;
    }
    
    .dropdown-content {
        position: absolute;
        transform: translate(calc(-100% + 37px),0px);
        background-color: var(--dropdown);
        padding: 13px 0px 13px 0px !important;
        display: none;
        width: max-content;
        box-shadow: 0 0 8px var(--boxblur);
    }
    
    .dropdown-content a, .dropdown-content button {
        display: block;
        margin: 0 5px 0 5px!important;
        padding: 13px 40px 13px 20px !important;
    }

    .dropdown-content .gray {
        color: var(--text2) !important;
        cursor: default;
    }

    .dropdown-content .gray:hover {
        font-weight: unset !important;
    }
    
    .dropdown-content a:hover {
        font-weight: bold;
    }
    
    .dropdown-content.show {
        display: block !important; /* Add this line */
    }

    .dropdown div {
        cursor: pointer;
    }

    pre {
        margin: 10px 0 10px 0;
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: normal;
    }
}

.profile {
    margin-left: 13%;
    margin-right: 13%;

    h2 {
        font-size: 32px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 42px;
    }
    hr {
        border: 1px solid var(--border);
    }
    img {
        border-radius: 9999px;
        width: 128px;
        height: 128px;
        object-fit: cover;
        display: inline-block;
        vertical-align: middle;
    }
    a{
        display: inline-block;
        padding: 0 20px 0 20px;
        margin: 0 10px 0 10px;
    }
    a *{
        display: inline-block;
    }
    p{
        color: var(--text);
    }
    .active *{
        color: var(--accent1);
    }
    svg{
        width: 32px;
        height: 32px;
        fill: currentColor;
        stroke: transparent;
        color: var(--text);
        vertical-align: middle;
    }
    .active svg{
        color: var(--accent1);
    }
    .profile-header{
        width: 100%;
        margin-bottom: 20px;
    }
}

.nopost{
    color: var(--text2);
    margin-left: calc(50% - 120px);
}

.popis{
    width: fit-content;
    max-width: 370px;
    margin: auto;
    padding: 0 14px 50px 14px;
}

.popis h1{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text);
}

.popis * {
    color: var(--text);
}

.vedle{ /* .nastaveni a .nastaveni-sidebar budou vedle sebe */
    display: flex;
    width: fit-content;
    margin: auto;
    transform: translate(-100px, 0);
}

.nastaveni{
    width: 250px;
    height: fit-content;
    background-color: var(--background);
    box-shadow: 0 0px 15px 1px var(--boxblur);
    border-radius: 12px;
    padding: 50px 70px 100px 70px;

    * {
        display: block;
    }

    p{
        margin: 15px 0 7px 0;
        color: var(--text2);
    }

    button {
        width: 100%;
        height: auto !important;
        padding: 7px 20px 7px 20px !important;
        margin: 10px 0 10px 0 !important;
    }

    .dangerous {
        color: var(--accent1);
        width: 100%;
        display: block;
        text-align: center;
        padding: 5px 0 5px 0;
    }

    .dangerous:hover {
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background-color: var(--input);
        border: 1px solid var(--border);
        border-radius: 12px;
        box-sizing: border-box;
        font-size: 16px;
    }

    input:focus,
    textarea:focus {
        outline: 3px solid var(--accent1) !important;
    }
}

.nastaveni-sidebar{
    width: 100px;
    height: fit-content;
    padding: 50px 70px 0 0;

    a {
        font-size: 18px;
        width: 100%;
        display: block;
        padding: 7px 30px 7px 0;
        margin: 10px 0 10px 0;
    }
    .active {
        text-decoration: underline solid var(--accent1) 2px;
    }
    a:hover {
        font-weight: bold;
    }
}

.kontakt {
    width: 370px;
    height: fit-content;
    margin: auto;

    h1 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
        color: var(--text);

    }

    p {
        color: var(--text);
        margin-bottom: 5px;
    }

    a {
        color: var(--accent1);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}


/* Responzibilita */

@media only screen and (max-width: 1650px) {
    .uploadimage {
        width: 100%;
        height: 800px;
    }

    .uploadimage .image {
        width: 400px;
        height: 400px;
    }

    #preview {
        width: 400px;
        height: 400px;
    }

    .uploadimage {
        width: 950px;
        height: 800px;
    }
} 

@media only screen and (max-width: 1200px) {
    .uploadimage .image {
        width: 350px;
        height: 350px;
    }

    #preview {
        width: 350px;
        height: 350px;
    }

    .uploadimage {
        width: 500px !important;
        height: 1200px !important;
        text-align: center;
    }

    .image {
        margin: 25px 0 0 80px !important;
    }
} 

@media only screen and (max-width: 992px) {
    .formular {
        width: 350px !important;
    }

    .uploadtext {
        width: 490px !important;
    }

    .profile-nav {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 798px) {
    .vedle{
        flex-direction: column;
        width: fit-content;
        transform: translate(0, 0);
        width: 100%;
    }

    .nastaveni{
        width: 80%;
        padding: 50px 5% 100px 5%;
        margin: auto;
    }

    .nastaveni-sidebar{
        width: 80%;
        padding: 0 5% 0 5%;
    }

    .nastaveni button {
        padding: 7px 5% 7px 5% !important;
      }
}


@media only screen and (max-width: 600px) {
    .main {
        margin-left: 0;
        margin-right: 0;
    }

    pre {
        padding: 0 14px 0 14px !important;
    }

    .feed {
        .container {
            padding: 0;
        }
        .buttons {
            margin: 0 7px 0 7px !important;
        }
    }

    .uploadimage , .uploadtext{
        width: 100% !important;
        height: fit-content !important;
        margin: none;
        background-color: var(--background);
        box-shadow: none !important;
        border-radius: unset !important;
    }

    .upload {
        width: 100% !important;
        height: fit-content !important;
        margin: none;
        background-color: var(--background);
        box-shadow: none !important;
        border-radius: unset !important;
        padding: 0;
    }

    .uploadimage .formular {
        float: unset !important;
        margin: auto;
        padding: 47px 3px 0 3px;
    }

    .uploadtext .formular {
        float: unset !important;
        margin: auto;
        padding: 0 3px 0 3px;
    }

    .image {
        margin: 0 !important;
        margin: auto !important;
        float: unset !important;
    }

    .prihlaseni,
    .registrace {
        width: calc(100% - 10%);
        height: fit-content;
        text-align: center;
        margin: auto;
        padding: 100px 5% 100px 5%;
        background-color: var(--background);
        box-shadow: none;
        border-radius: 12px;
    }
}